{% extends 'base.html' %}


{% block content %}



<div class="m-block">

<div class="row">
    <div class="col-md-6 col-12">
        <div class=" mt-5">

    <table class="serv_table">
        <tr class="serv_tr">
            <th class="serv_th_td serv_th">Назва послуги</th>
            <th class="serv_th_td serv_th">Ціна грн</th>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Заміна гальмівних колодок легковий/кросовер (позашляховик/преміум)</td>
            <td class="serv_th_td">Від 400</td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Заміна гальмівних дисків легковий/кросовер (позашляховик/преміум)</td>
            <td class="serv_th_td">Від 650</td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Профілактика направляючих супорта</td>
            <td class="serv_th_td">200</td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Заміна ремкомплекту супорта</td>
            <td class="serv_th_td">Від 800</td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Заміна барабанних гальмівних колодок</td>
            <td class="serv_th_td">Від 700</td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Заміна гальмівного шлангу</td>
            <td class="serv_th_td">Від 250</td>
        </tr>
        <tr class="serv_tr ">
            <td class="serv_th_td">Заміна гальмівного циліндра робочого</td>
            <td class="serv_th_td">Від 500</td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Прокачування гальмівної системи</td>
            <td class="serv_th_td">400</td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Заміна колодок гальма ручного</td>
            <td class="serv_th_td">Від 700</td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Регулювання системи гальма ручного</td>
            <td class="serv_th_td">Від 300</td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Проточка гальмівних дисків легковий/кросовер (позашляховик/преміум)</td>
            <td class="serv_th_td">Від 1100</td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Проточка гальмівних дисків легковий/кросовер (позашляховик/преміум) перфорація</td>
            <td class="serv_th_td">Від 1300</td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Заміна гальмівної рідини</td>
            <td class="serv_th_td">400</td>
        </tr>

    </table>
        </div>
    </div>

<div class="col-md-6 col-12">
    <div class="m-5">
    <h1>{%block title%}Огляд та ремонт гальмівної системи{%endblock%}</h1>
    <div>
        <p class="fs-5">Гальмівна система – це одна з найважливіших систем автомобіля, яка відповідає за безпеку водія та пасажирів. Регулярний огляд та своєчасний ремонт гальмівної системи допомагають уникнути аварійних ситуацій та забезпечують надійне гальмування в будь-яких умовах.</p>
    </div>
        <img width="100%" src="/static/images_serv/img-brakes.jpg">
    </div>
</div>

</div>

<div class="m-5">
    <h4>Коли потрібен огляд гальмівної системи?</h4>
    <p>Рекомендується проводити огляд гальмівної системи кожні 10 000 км пробігу або раз на півроку. Однак, якщо ви помітили наступні ознаки, варто негайно звернутися до нашого автосервісу:</p>
    <ul>
     <li> Скрип або свист під час гальмування. </li>
     <li> Вібрація або биття педалі гальма. </li>
     <li> Збільшення гальмівного шляху. </li>
     <li> Відведення автомобіля вбік під час гальмування або збільшення гальмівного шляху. </li>
     <li> Зниження рівня гальмівної рідини. </li>
     </ul>
</div>

<div class="m-5">
    <h5>Що входить до огляду гальмівної системи?</h5>
    <p>Наші фахівці проводять детальну перевірку всіх елементів гальмівної системи, включаючи:</p>
    <ul>
        <li> Перевірку стану гальмівних колодок та дисків. </li>
        <li> Оцінку стану гальмівних шлангів та трубок. </li>
        <li> Перевірку рівня та стану гальмівної рідини. </li>
        <li> Оцінку роботи гальмівних супортів. </li>
        <li> Перевірку стану гальмівних циліндрів. </li>
        <li> Оцінку роботи гальмівного підсилювача. </li>
    </ul>
</div>

<div class="m-5">
    <h5>Ремонт гальмівної системи</h5>
    <p>Після проведення огляду, наші спеціалісти нададуть вам детальний звіт про стан гальмівної системи та рекомендації щодо необхідного ремонту. Ми пропонуємо широкий спектр послуг з ремонту гальмівної системи, включаючи:</p>
    <ul>
        <li> Заміна гальмівних колодок та дисків. </li>
        <li> Ремонт або заміна гальмівних шлангів та трубок. </li>
        <li> Заміна гальмівної рідини. </li>
        <li> Ремонт або заміна гальмівних супортів. </li>
        <li> Ремонт або заміна гальмівних циліндрів. </li>
        <li> Ремонт або заміна гальмівного підсилювача. </li>
    </ul>
</div>

<div class="m-5">
    <h5>Переваги нашого автосервісу</h5>
    <ul>
        <li> Професійний підхід: Наші майстри мають багаторічний досвід роботи та регулярно проходять навчання. </li>
        <li> Сучасне обладнання: Ми використовуємо тільки найсучасніше діагностичне та ремонтне обладнання. </li>
        <li> Якісні запчастини: Ми працюємо з перевіреними постачальниками та використовуємо тільки високоякісні запчастини. </li>
        <li> Гарантія якості: Ми надаємо гарантію на всі виконані роботи та встановлені запчастини. </li>
    </ul>
</div>

<div class="m-5">
    <h5>Додаткові послуги</h5>
    <p>Окрім основних послуг з діагностики та ремонту ходової частини, ми також пропонуємо:</p>
    <ul>
        <li> Комп’ютерну діагностику: Виявлення прихованих несправностей за допомогою спеціалізованого обладнання. </li>
        <li> Заміна мастила та фільтрів: Регулярне обслуговування для продовження терміну служби вашого автомобіля. </li>
        <li> Сезонне обслуговування: Підготовка автомобіля до зимового або літнього сезону, включаючи перевірку та заміну рідин, шин та інших компонентів. </li>
    </ul>
</div>

<div class="m-5">
    <h5>Чому обирають нас?</h5>
    <ul>
        <li> Індивідуальний підхід: Ми враховуємо всі побажання клієнта та пропонуємо оптимальні рішення для кожного випадку. </li>
        <li> Швидкість обслуговування: Ми цінуємо ваш час і намагаємося виконувати роботи максимально швидко та якісно. </li>
        <li> Прозорість цін: Ви завжди будете знати, за що платите, без прихованих платежів та додаткових витрат. </li>
    </ul>
</div>

<div class="m-5">
    <p class="fs-4">Звертайтеся до нашого автосервісу для професійного огляду та ремонту гальмівної системи вашого автомобіля. Ми гарантуємо якість, швидкість та надійність наших послуг. Ваш автомобіль буде в надійних руках!</p>
    <button onclick="window.location.href='{{url_for('sign_up')}}'" class="btn serv_button">Записуйся</button>
</div>

</div>

{% endblock %}