{% extends 'base.html' %}


{% block content %}
<div class="m-block">



<div class="row">
    <div class="col-md-6 col-12">
        <div class="mt-5">

    <table class="serv_table" >
        <tr class="serv_tr">
            <th class="serv_th_td serv_th">Назва послуги</th>
            <th class="serv_th_td serv_th">Ціна грн</th>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Базова діагностика</td>
            <td class="serv_th_td"></td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Розширена діагностика</td>
            <td class="serv_th_td"></td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Повна діагностика з тест-драйвом</td>
            <td class="serv_th_td"></td>
        </tr>
    </table>
        </div>
        <div class="m-5">
    <h5> Базова діагностика</h5>
    <ol>
        <li>Огляд кузова та лакофарбового покриття (ЛКП)
            <ul>
                <li>Перевірка на наявність корозії, подряпин, вм’ятин та інших пошкоджень.</li>
                <li>Вимірювання товщини ЛКП для виявлення можливих перефарбувань.</li>
            </ul>
        </li>
        <li>Діагностика двигуна
            <ul>
                <li>Комп’ютерна діагностика для виявлення помилок та несправностей.</li>
                <li>Огляд на наявність витоків масла та інших рідин.</li>
            </ul>
        </li>
        <li>Перевірка трансмісії
            <ul>
                <li>Огляд стану коробки передач (АКПП/МКПП).</li>
                <li>Перевірка роботи зчеплення та привідних валів.</li>
            </ul>
        </li>
        <li>Діагностика ходової частини
            <ul>
                <li>Перевірка стану амортизаторів, пружин та інших елементів підвіски.</li>
                <li>Огляд гальмівної системи: дисків, колодок, гальмівних шлангів.</li>
            </ul>
        </li>
    </ol>
</div>
    </div>

<div class="col-md-6 col-12">
    <div class="m-4">
        <h1>{%block title%}Діагностика авто перед купівлею{%endblock%}</h1>
        <div class="mt-4">
            <p class="fs-5">Купівля автомобіля – це важливий крок, який потребує ретельної підготовки. Щоб уникнути неприємних сюрпризів та зайвих витрат, необхідно провести детальну діагностику авто перед купівлею. Наша СТО пропонує комплексну перевірку автомобіля, яка допоможе вам зробити правильний вибір.</p>
        </div>
        <div class="mt-4">
            <img width="100%" src="/static/images_serv/img-checking_before_buying.jpg">
        </div>
    </div>
</div>

</div>



<div class="m-5">
    <h5>Розширена діагностика</h5>
    <p>Включає всі елементи базової та розширеної діагностики, а також:</p>
    <ol>
        <li>Детальна перевірка всіх систем
            <ul>
                <li>Огляд вихлопної системи.</li>
                <li>Перевірка системи запалювання та паливної системи.</li>
                <li>Оцінка загального стану та зносу всіх компонентів автомобіля.</li>
            </ul>
        </li>
        <li>Комплексний звіт
            <ul>
                <li>Надання детального звіту про стан автомобіля з рекомендаціями щодо його купівлі.</li>
            </ul>
        </li>

    </ol>
</div>

<div class="m-5">
    <h5>Повна діагностика</h5>
    <p>Включає всі елементи базової та розширеної діагностики, а також:</p>
    <ol>
        <li>Електроніка та електропроводка
            <ul>
                <li>Перевірка роботи всіх електронних систем автомобіля.</li>
                <li>Огляд стану акумулятора та генератора.</li>
            </ul>
        </li>
        <li>Огляд салону та багажника
            <ul>
                <li>Перевірка стану оббивки, сидінь, панелей.</li>
                <li>Огляд багажника на наявність пошкоджень та корозії.</li>
            </ul>
        </li>
        <li>Додаткові перевірки двигуна
            <ul>
                <li>Перевірка компресії циліндрів.</li>
                <li>Огляд свічок запалювання та паливних фільтрів.</li>
            </ul>
        </li>
    </ol>
</div>

<div class="m-5">
    <h5>Додаткові послуги</h5>
    <p>Окрім основних послуг з діагностики та ремонту ходової частини, ми також пропонуємо:</p>
    <ul>
        <li> Регулярне технічне обслуговування: Планові ТО, заміна масла, фільтрів, гальмівних колодок та інших витратних матеріалів. </li>
        <li> Ремонт двигуна та трансмісії: Капітальний ремонт, заміна деталей, налаштування систем. </li>
        <li> Ремонт ходової частини: Заміна амортизаторів, пружин, рульових тяг, підшипників та інших компонентів. </li>
        <li> Електроніка та електрика: Діагностика та ремонт електронних систем, встановлення додаткового обладнання. </li>
        <li>Кузовний ремонт та фарбування: Відновлення після ДТП, усунення корозії, фарбування окремих деталей або всього автомобіля. </li>
    </ul>
</div>

<div class="m-5">
    <h5>Переваги нашого автосервісу</h5>
    <ul>
        <li> Професійний підхід: Наші майстри мають багаторічний досвід роботи та регулярно проходять навчання. </li>
        <li> Сучасне обладнання: Ми використовуємо тільки найсучасніше діагностичне та ремонтне обладнання. </li>
        <li> Якісні запчастини: Ми працюємо з перевіреними постачальниками та використовуємо тільки високоякісні запчастини. </li>
        <li> Гарантія якості: Ми надаємо гарантію на всі виконані роботи та встановлені запчастини. </li>
    </ul>
</div>



<div class="m-5">
    <h5>Чому обирають нас?</h5>
    <ul>
        <li> Індивідуальний підхід: Ми враховуємо всі побажання клієнта та пропонуємо оптимальні рішення для кожного випадку. </li>
        <li> Швидкість обслуговування: Ми цінуємо ваш час і намагаємося виконувати роботи максимально швидко та якісно. </li>
        <li> Прозорість цін: Ви завжди будете знати, за що платите, без прихованих платежів та додаткових витрат. </li>
    </ul>
</div>

<div class="m-5">
    <p class="fs-4">Звертайтеся до нашого автосервісу для професійної діагностики та ремонту ходової частини вашого автомобіля. Ми гарантуємо якість, швидкість та надійність наших послуг. Ваш автомобіль буде в надійних руках!</p>
    <button onclick="window.location.href='{{url_for('sign_up')}}'" class="btn serv_button">Записуйся</button>
</div>

</div>
{% endblock %}
