{% extends 'base.html' %}


{% block content %}
<div class="m-block">


<div class="row">

    <div class="col-md-6 col-12">
        <div class="m-5">
            <h1>{%block title%}Продаж запчастин{%endblock%}</h1>
            <h5 class="mt-5">Широкий асортимент запчастин для вашого авто</h5>
            <p class="fs-5 mt-4">Наше СТО пропонує великий вибір запчастин для різних марок і моделей автомобілів. Ми співпрацюємо з провідними виробниками та постачальниками, щоб забезпечити вас якісними деталями за доступними цінами. Незалежно від того, чи потрібні вам запчастини для легкових автомобілів, вантажівок або спеціалізованої техніки, у нас ви знайдете все необхідне.</p>
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="m-4">
            <div>
            <img width="100%" src="/static/images_serv/img-spare_parts.jpg">
            </div>
        </div>
    </div>

</div>





<div class="m-5">
    <h4>Чому обирають нас?</h4>
    <ul>
        <li> Якість та надійність: Ми пропонуємо тільки сертифіковані запчастини, які відповідають всім стандартам якості. Кожна деталь проходить ретельну перевірку перед тим, як потрапити до нашого асортименту. </li>
        <li> Швидка доставка: Завдяки нашій налагодженій логістичній системі, ви отримаєте замовлені запчастини в найкоротші терміни. Ми співпрацюємо з надійними кур’єрськими службами, щоб забезпечити своєчасну доставку. </li>
        <li> Консультації експертів: Наші фахівці завжди готові допомогти вам з вибором необхідних деталей та надати професійні поради. Ми розуміємо, наскільки важливо правильно підібрати запчастини, тому завжди готові відповісти на всі ваші запитання. </li>
        <li> Гарантія на продукцію: Ми надаємо гарантію на всі запчастини, що дозволяє вам бути впевненими в їхній якості та довговічності. Якщо у вас виникнуть будь-які проблеми з придбаними деталями, ми оперативно вирішимо їх. </li>
    </ul>
</div>

<div class="m-5">
    <h4>Наші переваги</h4>
    <ul>
     <li> Великий асортимент: У нас ви знайдете запчастини для всіх популярних марок автомобілів, включаючи BMW, Mercedes, Audi, Toyota, Honda та багато інших. Ми постійно оновлюємо наш асортимент, щоб відповідати потребам наших клієнтів. </li>
     <li> Професійний сервіс: Наші менеджери завжди готові відповісти на ваші запитання та допомогти з вибором. Ми прагнемо забезпечити високий рівень обслуговування кожного клієнта. </li>
     </ul>
</div>

<div class="m-5">
    <h5>Додаткові послуги</h5>

    <ul>
        <li> Установка запчастин: Наші майстри можуть професійно встановити придбані у нас запчастини. Ми гарантуємо якість виконаних робіт та надаємо гарантію на установку. </li>
        <li> Технічне обслуговування: Крім продажу запчастин, ми пропонуємо повний спектр послуг з технічного обслуговування автомобілів. Наші фахівці проведуть діагностику та ремонт будь-якої складності. </li>
        <li> Консультації з технічних питань: Якщо у вас виникли питання щодо експлуатації або ремонту автомобіля, наші експерти завжди готові надати кваліфіковану консультацію. </li>
    </ul>
</div>

<div class="m-5">
    <h5>Переваги співпраці з нами</h5>
    <ul>
        <li> Індивідуальний підхід: Ми цінуємо кожного клієнта і прагнемо знайти індивідуальний підхід до кожного замовлення. Наші менеджери завжди готові вислухати ваші побажання та запропонувати найкращі рішення. </li>
        <li> Постійне оновлення асортименту: Ми постійно працюємо над розширенням нашого асортименту, щоб ви могли знайти у нас найновіші та найактуальніші запчастини для вашого автомобіля. </li>
        <li> Високий рівень обслуговування: Ми прагнемо забезпечити високий рівень обслуговування на кожному етапі співпраці – від консультації до доставки та установки запчастин. </li>
    </ul>
</div>



<div class="m-5">
    <p class="fs-4">Якщо у вас виникли питання або ви хочете зробити замовлення, зв’яжіться з нами за телефоном [ваш номер телефону] або напишіть на електронну пошту [ваша електронна адреса]. Ми завжди раді допомогти вам!</p>
    <button onclick="window.location.href='{{url_for('order_parts')}}'" class="btn serv_button">Замовити</button>
</div>

</div>
{% endblock %}