{% extends 'base.html' %}


{% block content %}
<div class="m-block">



<div class="row">
    <div class="col-md-6 col-12">
        <div class="mt-5">

    <table class="serv_table">
        <tr class="serv_tr">
            <th class="serv_th_td serv_th">Основні види діагностик</th>
            <th class="serv_th_td serv_th">Ціна грн</th>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Комп’ютерна діагностика</td>
            <td class="serv_th_td">400</td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Ендоскопія двигуна (діагностика двигуна відеоендоскопом) – 4/6/8 циліндрів</td>
            <td class="serv_th_td">600/700/900</td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Діагностика системи охолодження (базова)</td>
            <td class="serv_th_td">400</td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Повна діагностика системи охолодження (стендом)</td>
            <td class="serv_th_td">500</td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Замір компресії – 4/6/8 циліндрів</td>
            <td class="serv_th_td">500/750/1000 </td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Діагностика двигуна димогенератором</td>
            <td class="serv_th_td">600</td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Діагностика системи запалення</td>
            <td class="serv_th_td">Від 400</td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Діагностика двигуна осцилографом</td>
            <td class="serv_th_td">Від 600</td>
        </tr>
    </table>
        </div>
    </div>

<div class="col-md-6 col-12">
    <div class="m-4">
    <h1>{%block title%}Комп’ютерна діагностика{%endblock%}</h1>
    <div>
        <h4>Що таке комп’ютерна діагностика?</h4>
        <p class="fs-5">Комп’ютерна діагностика – це процес підключення спеціального обладнання до бортового комп’ютера автомобіля з метою перевірки його параметрів, виявлення та усунення несправностей. Вона дозволяє оптимізувати роботу автомобіля, підвищити його безпеку, комфорт та економічність.</p>
    </div>
        <img width="100%" src="/static/images_serv/img-computer_diagnostics.jpg">
    </div>
</div>

</div>

<div class="m-5">
    <h4>Переваги комп’ютерної діагностики</h4>
    <ul>
     <li> Точність та ефективність: Комп’ютерна діагностика дозволяє отримати максимально точні дані щодо поточного стану окремих елементів, систем і вузлів автомобіля2. Це дозволяє виявити навіть найменші несправності на ранніх стадіях. </li>
     <li> Швидкість: Процес діагностики займає мінімум часу, що дозволяє швидко виявити та усунути проблеми. </li>
     <li> Економія коштів: Виявлення несправностей на ранніх стадіях допомагає уникнути дорогого ремонту в майбутньому. </li>
     </ul>
</div>

<div class="m-5">
    <h5>Що входить до комп’ютерної діагностики?</h5>
    <ul>
        <li> Перевірка стану електроніки: Діагностика блоків керування двигуном, електромережі, паливної системи, мультимедіа та кліматичної установки. </li>
        <li> Вимірювання напруги та визначення місткості акумулятора: Особливо актуально наприкінці сезону, під час підготовки машини до літа або зими. </li>
        <li> Діагностика двигуна: Перевірка стану кілець, форсунок, свічок запалювання, мастила, паливних фільтрів, паливного насоса, тиску масляного насоса, повітряного фільтра та компресії в блоці циліндрів. </li>
        <li> Оцінка загального стану автомобіля: Виявлення реального пробігу та якості обслуговування автомобіля перед покупкою. </li>
    </ul>
</div>



<div class="m-5">
    <h5>Переваги нашого автосервісу</h5>
    <ul>
        <li> Професійний підхід: Наші майстри мають багаторічний досвід роботи та регулярно проходять навчання. </li>
        <li> Сучасне обладнання: Ми використовуємо тільки найсучасніше діагностичне та ремонтне обладнання. </li>
        <li> Якісні запчастини: Ми працюємо з перевіреними постачальниками та використовуємо тільки високоякісні запчастини. </li>
        <li> Гарантія якості: Ми надаємо гарантію на всі виконані роботи та встановлені запчастини. </li>
    </ul>
</div>

<div class="m-5">
    <h5>Додаткові послуги</h5>
    <p>Окрім основних послуг з діагностики та ремонту ходової частини, ми також пропонуємо:</p>
    <ul>
        <li> Заміна мастила та фільтрів: Регулярне обслуговування для продовження терміну служби вашого автомобіля. </li>
        <li> Сезонне обслуговування: Підготовка автомобіля до зимового або літнього сезону, включаючи перевірку та заміну рідин, шин та інших компонентів. </li>
    </ul>
</div>

<div class="m-5">
    <h5>Чому обирають нас?</h5>
    <ul>
        <li> Індивідуальний підхід: Ми враховуємо всі побажання клієнта та пропонуємо оптимальні рішення для кожного випадку. </li>
        <li> Швидкість обслуговування: Ми цінуємо ваш час і намагаємося виконувати роботи максимально швидко та якісно. </li>
        <li> Прозорість цін: Ви завжди будете знати, за що платите, без прихованих платежів та додаткових витрат. </li>
    </ul>
</div>

<div class="m-5">
    <p class="fs-4">Якщо у вас виникли питання або ви хочете записатися на комп’ютерну діагностику, зв’яжіться з нами . Ми завжди раді допомогти вам!</p>
    <button onclick="window.location.href='{{url_for('sign_up')}}'" class="btn serv_button">Записуйся</button>
</div>

</div>
{% endblock %}