{% extends 'base.html' %}


{% block content %}
<div class="m-block">



<div class="row">
    <div class="col-md-6 col-12">
        <div class="mt-5">

    <table class="serv_table">
        <tr class="serv_tr">
            <th class="serv_th_td serv_th">Назва послуги</th>
            <th class="serv_th_td serv_th">Ціна грн</th>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Діагностика ходової (передньої і задньої частини)</td>
            <td class="serv_th_td"></td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Заміна масла з промиванням двигуна</td>
            <td class="serv_th_td"></td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Заміна масла МКПП</td>
            <td class="serv_th_td"></td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Заміна повітряного фільтра</td>
            <td class="serv_th_td"></td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Заміна паливного фільтра</td>
            <td class="serv_th_td"></td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Заміна фільтра салону</td>
            <td class="serv_th_td"></td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Заміна рідини гідропідсилювача ГПК</td>
            <td class="serv_th_td"></td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Заміна антифризу</td>
            <td class="serv_th_td"></td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Діагностика двигуна (мотора)</td>
            <td class="serv_th_td"></td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Комп'ютерна діагностика авто</td>
            <td class="serv_th_td"></td>
        </tr>
        <tr class="serv_tr">
            <td class="serv_th_td">Діагностика кузова (покриття)</td>
            <td class="serv_th_td"></td>
        </tr>

    </table>
        </div>
    </div>

<div class="col-md-6 col-12">
    <div class="m-4">
    <h1>{%block title%}Планове технічне обслуговування (ТО){%endblock%}</h1>
    <div>
        <p class="fs-5">Планове технічне обслуговування (ТО) – це комплекс заходів, спрямованих на підтримку автомобіля в оптимальному технічному стані, забезпечення його надійності та безпеки. Регулярне проведення ТО допомагає виявити та усунути потенційні несправності на ранніх стадіях, що дозволяє уникнути серйозних поломок та дорогого ремонту.</p>
    </div>
        <img width="100%" src="/static/images_serv/img-TO.jpg">
    </div>
</div>

</div>

<div class="m-5">
    <h4>Коли потрібно проводити планове ТО?</h4>
    <p>Рекомендується проводити планове ТО кожні 10 000-15 000 км пробігу або раз на рік, залежно від умов експлуатації автомобіля та рекомендацій виробника. Дотримання графіка ТО допомагає зберегти гарантію на автомобіль та забезпечити його довговічність.</p>
</div>

<div class="m-5">
    <h5>Що входить до планового ТО?</h5>
    <p>Планове технічне обслуговування включає в себе широкий спектр робіт, спрямованих на перевірку та заміну основних компонентів автомобіля:</p>
    <ul>
        <li> Заміна мастила та масляного фільтра: Регулярна заміна мастила забезпечує належне змащування двигуна та запобігає його зносу. </li>
        <li> Перевірка та заміна повітряного фільтра: Чистий повітряний фільтр забезпечує оптимальну роботу двигуна та знижує витрату палива. </li>
        <li> Перевірка та заміна паливного фільтра: Забезпечує чистоту палива, що надходить до двигуна, та запобігає його забрудненню. </li>
        <li> Перевірка та заміна салонного фільтра: Забезпечує чисте повітря в салоні автомобіля. </li>
        <li> Перевірка рівня та стану рідин: Оцінка рівня та стану охолоджувальної рідини, гальмівної рідини, рідини гідропідсилювача керма та рідини склоомивача. </li>
        <li> Перевірка стану гальмівної системи: Оцінка стану гальмівних колодок, дисків, шлангів та супортів. </li>
        <li> Перевірка стану шин та тиску в шинах: Оцінка зносу шин та перевірка тиску для забезпечення безпеки та економії палива. </li>
        <li> Перевірка стану акумулятора: Оцінка рівня заряду та стану клем акумулятора. </li>
        <li> Перевірка стану підвіски та рульового управління: Оцінка стану амортизаторів, пружин, важелів та рульової рейки. </li>
        <li> Перевірка стану ременів та ланцюгів: Оцінка стану приводних ременів та ланцюгів для запобігання їх розриву. </li>
    </ul>
</div>


<div class="m-5">
    <h5>Переваги нашого автосервісу</h5>
    <ul>
        <li> Професійний підхід: Наші майстри мають багаторічний досвід роботи та регулярно проходять навчання. </li>
        <li> Сучасне обладнання: Ми використовуємо тільки найсучасніше діагностичне та ремонтне обладнання. </li>
        <li> Якісні запчастини: Ми працюємо з перевіреними постачальниками та використовуємо тільки високоякісні запчастини. </li>
        <li> Гарантія якості: Ми надаємо гарантію на всі виконані роботи та встановлені запчастини. </li>
    </ul>
</div>

<div class="m-5">
    <h5>Додаткові послуги</h5>
    <p>Окрім основних послуг з діагностики та ремонту ходової частини, ми також пропонуємо:</p>
    <ul>
        <li> Комп’ютерну діагностику: Виявлення прихованих несправностей за допомогою спеціалізованого обладнання. </li>
        <li> Заміна мастила та фільтрів: Регулярне обслуговування для продовження терміну служби вашого автомобіля. </li>
        <li> Сезонне обслуговування: Підготовка автомобіля до зимового або літнього сезону, включаючи перевірку та заміну рідин, шин та інших компонентів. </li>
    </ul>
</div>

<div class="m-5">
    <h5>Чому обирають нас?</h5>
    <ul>
        <li> Індивідуальний підхід: Ми враховуємо всі побажання клієнта та пропонуємо оптимальні рішення для кожного випадку. </li>
        <li> Швидкість обслуговування: Ми цінуємо ваш час і намагаємося виконувати роботи максимально швидко та якісно. </li>
        <li> Прозорість цін: Ви завжди будете знати, за що платите, без прихованих платежів та додаткових витрат. </li>
    </ul>
</div>

<div class="m-5">
    <p class="fs-4">Звертайтеся до нашого автосервісу для професійного планового технічного обслуговування вашого автомобіля. Ми гарантуємо якість, швидкість та надійність наших послуг. Ваш автомобіль буде в надійних руках!</p>
    <button onclick="window.location.href='{{url_for('sign_up')}}'" class="btn serv_button">Записуйся</button>
</div>

</div>
{% endblock %}